body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:  'Lato', sans-serif, 'Sen', sans-serif, system-ui, -apple-system;
  background-color: rgb(31, 17, 116);
}

.App {
  text-align: center;
}
.Navbar {
  background-color: rgb(5, 5, 43);
  color: white;
  padding: 10px;
}
.from-control {
  width: 80%;
}

.card {
  max-width: 80%;
}
.card-title {
  position: absolute;
  padding: 20px;
}

.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;
}

.card-desc {
  position: absolute;
  padding-left: 20px;
  margin-top: 300px;
}