body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:  'Lato', sans-serif, 'Sen', sans-serif, system-ui, -apple-system;
  background-color: rgb(31, 17, 116);
}

.App {
  text-align: center;
}
.Navbar {
  background-color: rgb(5, 5, 43);
  color: white;
  padding: 10px;
}
.from-control {
  width: 80%;
}

.card {
  max-width: 80%;
}
.card-title {
  position: absolute;
  padding: 20px;
}

.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;
}

.card-desc {
  position: absolute;
  padding-left: 20px;
  margin-top: 300px;
}

.card-text-h{
  position: absolute;
  padding-left: 20px;
  margin-top: 100px;
}
.card-text-v{
  position: absolute;
  padding-left: 20px;
  margin-top: 150px;
}

.continer-user {
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
  background: radial-gradient(#d5f3ff, #51b4e8);
  filter: drop-shadow(0px 4.85px 4.85px rgba(0,0,0,0.25));
  padding-top: 3rem;
  margin-top: 150px;
  margin-bottom: 100px;
  border-radius: 25px;
  border: none;
  line-height: 1rem;
}

.Loader {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(64, 6, 6);
  background: linear-gradient(
    0deg,
    rgba(64, 6, 6, 1) 0%,
    rgba(205, 5, 39, 1) 55%
  );
}

.Logoloader {
  max-width: 150px;
  place-content: center;
  animation: rotation 5s linear both;
}

@keyframes rotation {
  from {
    tansform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
